<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Making Waves</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link href="@Url.Content("~/css/site.css")" rel="stylesheet" type="text/css" />
    @RenderSection("Styles", false)
</head>
<body>
<div class="box">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Contester" asp-action="Index">MakingFuss</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Contester" asp-action="Index">Leaderboard</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
           <b></b></div>

    <footer class="footer text-muted">
        <div class="container">
            &copy; 2019 - MW
        </div>
    </footer>

        @* URL "animation" *@
    <script>
        var f = ['🕺', '🌑', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '🚶'];
        var moon = ['🌒','🌓','🌔','🌕','🌖','🌗','🌘','🌑'];
          async function sleep (time) {
            return new Promise((resolve) => setTimeout(resolve, time));
        }
        async function loop() {
            var counter = 1;
            var countForward = true;
            var moonCounter = 0;
            while(true){
                f[counter%f.length] = '_';
                if(countForward){
                    counter += 1;
                } else{
                    counter -= 1;
                }
                if(counter == f.length){ // if at end
                    countForward = false;
                    f[f.length-1] = '🏃';
                    f[f.length-2] = moon[moonCounter];
                    location.hash = f.join('');
                    await sleep(300);
                } else if (counter == 1){ // if back at start
                    countForward = true;
                    f[0] = '💃';
                    f[counter%f.length] = moon[moonCounter];
                    location.hash = f.join('');
                    await sleep(300);
                } else if(counter > 1 && counter < f.length-2){ // inbetween
                    f[0] = '🕺';
                    f[f.length-1] = '🚶';
                    f[counter] = moon[moonCounter];
                    moonCounter += 1;
                    if(moonCounter == moon.length-1){
                        moonCounter = 0;
                    }
                    location.hash = f.join('');
                    await sleep(50);
                }
            }
        }
        loop();
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
